<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Basic Layout</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Scripts/calibre/DataComps/cView-2.0.css" rel="stylesheet" />
    <script src="~/Scripts/calibre/DataComps/cUtils-2.0.js"></script>
    <script src="~/Scripts/calibre/DataComps/cFormControls-2.0.js"></script>
    <script src="~/Scripts/calibre/DataComps/cLayout-2.0.js"></script>
    <script src="~/Scripts/calibre/DataComps/cFormBuilder-2.0.js"></script>
    <script src="~/Scripts/calibre/DataComps/cFormLayout-2.0.js"></script>
    <!--
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    -->
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - cjControls</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        -->
    @RenderSection("scripts", required: false)
</body>
    </html>
