
@{
    ViewBag.Title = "Controls";
}
<link href="~/Scripts/calibre/DataComps/cView-2.0.css" rel="stylesheet" />
<h2>Controls</h2>


@section scripts
{
    <script src="~/Scripts/calibre/DataComps/cFormControls-2.0.js"></script>
}